@import 'colony-vue/src/assets/scss/variable.scss';

$primary: #f79999;
$secondary: #fee5b0;
$success: #2d8cf0;
$warning: #ff9900;
$error: #ed3f14;

$background: #EFEFEF;
$disabled: #737373;
$border: #E2E4EE;

$title: #17233d;

@mixin background() {
  padding: 2rem;
  min-height: 100vh;
  max-width: 100%;
  background: $primary;
  background: linear-gradient(180deg, $primary 0%, $secondary 100%);
}

@mixin card($padding: 1.5rem, $marginBottom: 1rem) {
  text-align: center;
  margin-bottom: $marginBottom;
  padding: $padding;
  background-color: #fff;
  border-radius: .5rem;

  -webkit-box-shadow: 1px 4px 8px 0px rgba(#000, .3);
  -moz-box-shadow:    1px 4px 8px 0px rgba(#000, .3);
  box-shadow:         1px 4px 8px 0px rgba(#000, .3);
}
