@import 'colony-vue/src/assets/scss/variable.scss';

$primary: #f79999;
$secondary: #fee5b0;
$success: #2d8cf0;
$warning: #ff9900;
$error: #ed3f14;

$background: #EFEFEF;
$disabled: #737373;
$border: #E2E4EE;

$title: #17233d;

@mixin background() {
  min-height: 100vh;
  max-width: 100%;
  background: #f79999;
  background: linear-gradient(180deg, #f79999 0%, #fee5b0 100%);
}
