#home {
  min-height: 100vh;
  max-width: 100%;
  background: rgb(247,153,153);
  background: linear-gradient(180deg, rgba(247,153,153,1) 0%, rgba(254,229,176,1) 100%);
}

.logo_wrap {
  text-align: center;
  padding-top: 10rem;
}
.logo {
  display: inline-block;
  width: 80%;
}