
@import 'assets/scss/variable.scss';

#login {
  @include background;
}

.logo_wrap {
  text-align: center;
  padding-top: 10rem;
}

.logo {
  display: inline-block;
}

.social_wrap {
  margin-top: 16rem;

  .btn-social {
    @include card;
    position: relative;
    width: 100%;
    border: 1px solid transparent;
    padding: 1rem 0 1rem 2rem;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: .5rem;
    line-height: 1.25rem;

    &.google {
      background-color: #fff;
      color: $gray;
      line-height: 1.5rem;
    }

    &.anonymous {
      background-color: #fff;
      color: $gray;
      line-height: 1.5rem;
    }
  }

  .social-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.5rem;
    vertical-align: top;
  }
}
